<%= form_with(model: dtc) do |form| %>
  <% if dtc.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dtc.errors.count, "error") %> prohibited this dtc from being saved:</h2>

      <ul>
        <% dtc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
