<p style="color: green"><%= notice %></p>

<h1>Dtcs</h1>

<div id="dtcs">
  <table>
    <tr>
      <th>Text</th>
      <th>PCode (UDS)</th>
      <th>SPN/FMI(J1939)</th>
    </tr>
      <% @dtcs.each do |dtc| %>
        <%= render dtc %>
      <% end %>
  </table>
</div>

<%= link_to "New dtc", new_dtc_path %>
